
td
{
    border: 1px solid black;
}
table
{
    border: 1px solid black;
    width: 100%;
    background-color: white;
}
img
{
    width: 2em;
    height: 2em;
}
body 
{ 
    background-color: grey;
}
a:hover{
    color:orange;
}
tr:nth-child(2n+1)
{
    background-color: palevioletred ;
}

tr:hover{
    background-color:blue;
}
img:hover{

    transform : scale(6);
}
@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}